<%- include('partials/header') %>
<aside>
  <nav>
    <ul>
      <li><a href="home">Home Page</a></li>
      <li><a href="search-pets">Find a Dog/Cat</a></li>
      <li><a href="dogcare">Dog Care</a></li>
      <li><a href="catcare">Cat Care</a></li>
      <li><a href="give-pet">Have a Pet to Give Away</a></li>
      <li><a href="contact">Contact Us</a></li>
      <li><a href="dashboard">Login/ Logout</a></li>
      <li><a href="register">Create an account</a></li>
    </ul>
  </nav>
</aside>
<main>
  <h2>Pet Added Successfully!</h2>
</main>
<%- include('partials/footer') %>
